{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}

<h5>Edit page</h5>

<form action="greet.html" method="post">
    <table>
        <tr>
            <td><input type="text" value="{{title}}" name="" disabled></td>
            <td><input type="text" value="{{title}}" name="title" hidden></td>
        </tr>
        <tr>
            <td><textarea name="content" cols="45" >{{content|safe}}</textarea></td>
        </tr>
    </table>
    <input type="submit" value="Save">
    {% csrf_token %}
</form>
    
{% endblock %}